body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 300px;
  margin: 100px auto;
}

.form-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container input {
  width: 90%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #218838;
}

.form-container p {
  text-align: center;
}

.form-container a {
  color: #007bff;
  text-decoration: none;
}

.form-container a:hover {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  background-color: #023047;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.brand-logo img{
  height: 10vh;
  width: 10vh;
}

.icon{
  width: 5vh;
  height: 5vh;
  filter: invert(100);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline;
  margin-right: 35px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Welcome Message */
.welcome-message {
  margin-top: 100px;
  text-align: center;
}

/* Chatbot Icon */
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.chatbot-icon img {
  width: 60px;
  height: 60px;
}

/* Chat Window */
.chat-window {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 300px;
  height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.chat-header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header h3 {
  margin: 0;
}

.chat-header span {
  cursor: pointer;
  font-weight: bold;
}

.chat-body {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}



/* Profile Page */
#profile {
    max-width: 600px;
    margin: 20px auto;
    margin-top: 12vh;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#PROFILE-ICON{
  width: 15vh;
  height: 15vh;
}

.ACTION-BTN{
  display: flex;
  justify-content: center;
}

#profile p {
    font-size: 2vh;
    margin: 10px 0;
}

#profile input[type="text"],
#profile input[type="email"],
#profile input[type="number"],
#profile select {
    font-size: 1.5vh;
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
}

#profile select {
  margin-bottom: 15PX;
}

#profile button {
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 15px 0 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#CANCEL-BTN{
    background-color: RED;
}

#SAVE-BTN{
  background-color: green;
}


@media only screen and (max-width: 600px) {

  .icon{
     width: 3vh;
     height: 3vh;   
  }

  .navbar ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 10px;
}

#logout{
  margin-right: 55px;
}

.brand-logo img{
  height: 5vh;
  width: 5vh;
}

}
